{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Campus Connect{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/vapor/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-light">

    <div class="container mt-5 d-flex justify-content-center">
        <div class="card border-primary mb-3 w-100" style="max-width: 900px">
            
            <header class="mb-4">
                {% block header %}
                <h1 class="h4 text-center">Campus Connect</h1>
                {% endblock %}
            </header>

            <main>
                {{ render_messages(dismissible=True, dismiss_animate=True) }}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {{ bootstrap.load_js() }}
</body>
</html>
