{% extends 'base.html' %}

{% block header %}
    <h2 class="text-center mt-4">
        Here you can chat, {{ currUser.name }}
    </h2>
{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 700px;">
  {% for match in matches %}
    {% if match.user1.user_id == currUser.user_id %}
      {% set other = match.user2 %}
    {% else %}
      {% set other = match.user1 %}
    {% endif %}

    <div class="card mb-3 shadow-sm">
      <div class="card-body">
        <h4 class="card-title">{{ other.name }}</h4>
        <a href="{{ url_for('main_bp.chat_room', match_id=match.match_id) }}" class="btn btn-primary mt-2">
            Chat</a>
      </div>
    </div>
  {% endfor %}

  {% if matches|length == 0 %}
    <div class="alert alert-info text-center">
      You have no body to chat with yet. Check back soon!
    </div>
  {% endif %}
</div>
{% endblock %}