{% extends 'base.html' %}

{% block header %}
    <h2>
    {% block title %} 
    
        {{user.name}}, {{age}}
        <br> {{user.university.name}}
        <br> {{personality_sore}}

    {% endblock %}
    </h2>
{% endblock %}

{% block content %}
<img src="{{ url_for('main.profile_picture', user_id=user.user_id) }}" alt="Profilbild" width="200" height="200">

<div>
 {{user.description}}
</div>
<div><form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.yes(class="btn btn-success") }}
        {{ form.no(class="btn btn-danger") }}
    </div>
</form>
<div>

{% endblock %}